*{
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.btn{
  border-radius: 2px;
  border: none;
  padding: 6px 12px;
  background-color: #FFFEF8;
  color: #dc143c;
  font-weight: 800;
  margin-top: 1rem;
}
.box{
  width: 400px;
  height: 400px;
  border: 1px solid;
  background-color: aliceblue;
  margin-top: 2rem;
}